@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.7;
    margin: 0;
}

.pimg1,
.pimg2,
.pimg3 {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.70;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(./img/img1.jpg);
    height: 100vh;
}

.pimg2 {
    background-image: url(./img/img2.jpg);
    height: 400px;
}

.pimg3 {
    background-image: url(./img/img3.jpg);
    height: 400px;
}

.info {
    text-align: center;
    padding: 50px 30px;
}

.dark-bg {
    background-color: #212529;
    color: #f4f4f4;
}

.ptext {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.ptext .main-text {
    background-color: #111;
    padding: 20px 50px;
    transition: 2s opacity;
}

.ptext .main-text:hover {
    opacity: 0.80;
    cursor: pointer;
}